/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */


@media all and (min-width: 1024px) and (max-width: 1280px) {


  @media all and (min-width: 768px) and (max-width: 1024px) {
    nav ul li a {
      font-size: 16px
    }

    .checkbtn {
      display: block;
    }

    ul {


      top: 80px;
      left: -100;
      transition: all .5s;
      text-align: center;
    }

    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a {
      font-size: 20px;
    }

    a:hover,
    a.active {
      background: none;
    }

    #checked:checked~ul {
      left: 0;
    }
  }
  img{

  }

}

@media all and (min-width: 480px) and (max-width: 768px) {

  #mobile-menu-btn {
    display: block;
  }

  nav p {
    display: none;
  }
 
  #links1{
    display: none;
  }

  

  .mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  nav ul li a {
    font-size: 16px
  }

  .checkbtn {
    display: block;
  }

  ul {

    top: 80px;
    left: -100;
    transition: all .5s;
    text-align: center;
    list-style-type: none;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
  }

  .products,
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  .products .card {
    padding: 3px;

  }

  .products .card img {
    height: 100px;
    width: 100px;
    margin-left: 18px;
  }

  .products .card .desc {
    padding: 5px 10px;
    opacity: 0.8;

  }

  .products .card .box .price {

    font-size: 10px;
    font-weight: lighter;

  }

  .price {
    text-align: center;
    margin-left: 5px;
    margin-bottom: 100px;
    font-size: 30px;
  }
  
         .column {
           float: left;
           width: 200px;
           padding: 10px;
           height: 300px;
         }
    
         .column img {
           width: 200px;
           height: 100px;
}

     .column {
       float: left;
       width: 200px;
       padding: 10px;
       height: 700px;
     }
  
     .column img {
       width: 200px;
       height: 250px;
     }
    
     
    
   
}

@media all and (min-width: 300px) and (max-width: 480px) {
  nav ul li a {
    font-size: 16px;


  }

  .checkbtn {
    display: block;

  }

  ul {

    top: 80px;
    left: -100;
    transition: all .5s;
    text-align: center;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }


  a:hover,
  a.active {
    background: none;
  }

  #check:checked~ul {
    left: 0;
  }

  .products,
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));

  }

  .products .card {
    padding: 3px;

  }

  .products .card img {
    height: 100px;
    width: 100px;
  }

  .products .card .desc {
    padding: 5px 10px;
    opacity: 0.8;
    

  }

  .products .card .box .price {

    font-size: 20px;
    font-weight: lighter;

  }

  .price {
    text-align: center;
    margin-left: 35px;
    margin-bottom: 30px;
    font-size: 20px
  }

    #mobile-menu-btn {
      display: block;
    }
  
    nav p {
      display: none;
    }
  
    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

         .column {
           float: left;
           width: 200px;
           padding: 10px;
           height: 700px;
         }
    
         .column img {
           width: 300px;
           height: 200px;
         }
         .button{
           margin: 10px;
         }
        .img2{
                     width: 550px;
        }
        .img{
                 width:550px;
        }
        .flex{
        display: flex;
        width: 550px;
        }
        .img4{
            width: 320px;
            
        }
        .img6{
                width: 320px;
              
        }
       
        
        .button{
           font-size: 15px;
           width: 160px;
           margin-left: 30px
        }
        #button1{
            margin-left: 190px;
            margin-right: 20px;
        }
        #button2{
            margin-left: 190px;
            margin-right: 20px;
        } 
        .mw{
             margin-left: 250px; 
          
        }
        .lw{
         margin-left: 250px;
       
        }
      #links1{
            display: none;
      } 
      .text,.button{
          justify-content: center;
           text-align:center;
      }
             header,
             h3 {
               margin-left: 120px;
               
             }

             footer,h4,p{
             margin-left: 70px;
             
             }
             #button3{
               margin-left: 50px;
             }
             #button4{
              margin-left: 70px;
             }
             .img,h4{
               margin-right: 30px;
             }
     
}
      
/* Portrait */
@media all and (orientation:portrait) {
  /* Portrait styles here */
   

/* Landscape */
@media screen and (orientation:landscape) {
  /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  nav ul li a {
    font-size: 16px
  }

  .checkbtn {
    display: block;
  }
 

  ul {

    top: 80px;
    left: -100;
    transition: all .5s;
    text-align: center;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
  }

  .products,
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .products .card {
    padding: 3px;

  }

  .products .card img {
    height: 200px;
    width: 200px;
  }

  .products .card .desc {
    padding: 10px 10px;
    opacity: 0.8;
    margin-left: 20px;

  }

  .products .card .box .price {

    font-size: 20px;
    font-weight: lighter;

  }

  .price {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

  nav ul li a {
    font-size: 16px
  }

  .checkbtn {
    display: block;
  }

  ul {

    top: 80px;
    left: -100;
    transition: all .5s;
    text-align: center;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
  }

  .products,
  .product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .products .card {
    padding: 3px;

  }

  .products .card img {
    height: 200px;
    width: 200px;
  }

  .products .card .desc {
    padding: 10px 10px;
    opacity: 0.8;
    margin-left: 20px;

  }

  .products .card .box .price {

    font-size: 20px;
    font-weight: lighter;

  }

  .price {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 30px;
  }

    #mobile-menu-btn {
      display: block;
    }

    #mobile-menu-btn:over{
         display: block;
    }
  
    nav ul {
      display: none;
    }
  
    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
}


/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}