*{
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}
h1 {
   font-family: Arial, Helvetica, sans-serif;

}

h3 a{
  text-decoration: none;
  text-align: center;
  color: black;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;

}
/* .checkbtn{
   cursor: pointer;
   display: none;
   margin-left: 40px;
} */
#check{
  /* display: none; */
}
#mobile-menu-btn {
  display: none;
  margin-left: 10px;
  margin-bottom: 30px;
}
#mobile-menu-btn:hover{
       display: block;
}

.mobile-menu {
  color: black;
  display: none;
  position: absolute;
  left: 0;
  height: 60vh;
  width: 70vw;
  background-color:white;

  
}

.mobile-menu ul{
     
}

.mobile-menu ul li{
   padding: 10px;
   margin-right: 20px;
}
.container ul{
list-style: none;
margin: 0px;
  padding: 0px;
  text-align: center;

}
.container li{
      display: inline-block;

}
.container a{
    text-decoration: none;
    width: 100px;
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    color: black;
    margin: 15px;
    flex-direction: column;
  
  }
  

      .img{
     padding: 0px;
     margin: 0px;
     
     }
     img{
    width:100%;
    height: 350px;
    object-fit: cover;
     }
     .img2{
     margin-top: 50px;
     }
     .img4{
      width:50%;
      height: 500px;
      margin-top: 50px;
     }
     .img5{
    width:50%;
    height: 500px;
    display: flex;
    flex-direction: row;
     }
     .img6{
       width: 50%;
       height: 500px;
       margin-top: 50px;
       
     }
     .img6,h4{
          font-weight: lighter;
     }
     .flex{
        display: flex;
        
     }
     .flex ,.kidswear{
       text-align:center ;
       font-weight: lighter;
     }
    
     
     .text{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
     }
     .text h4{
      font-weight: lighter;
     }
     .button{
        background-color: white; /* Green */
        border: black solid 2px;
        color: black;
        padding: 15px 32px;
        text-align: center;
        margin-top: 10px;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        width: 200px;
      }
     
     .button a{
         text-decoration: none;
         color: black;
     }
     .button , h4{
         margin: 10px;
     }

    .cart,i{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
         font-size: 25px;
         margin-right: 10px;
         color:black;
        
    }
   
   .cart a:hover {
    background-color: white;
    color:white;
   } 

.nitems ,.header,h4,p{
    text-align: center;
}

     .sec{
      padding:10px 5%;
    }
   .products, .product {
           display: grid;
           grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
           
        
    }
  
         .products .card{
        padding: 5px;
        
    }
    .products .card img{
         height:300px;
         width:300px;
    } 
   .products .card .desc {
              padding:5px 10px;
              opacity:0.8;
             
    }
    .desc{
         
        text-align: center;
        margin-right: 45px;
        font-weight: bold;
    }
    .products .card .title{
        font-weight:900;
        font-size: 20px;
        color:#424144;
        padding: 0 20px;
    }
   .products .card .box{
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding:20px;
    }
   .products .card .box .price {
           
           font-size: 20px;
           font-weight: bold;
           
    }
    .price{
     text-align: center;
     margin-left: 100px;
     margin-bottom: 130px;
     font-size: 10px;
    }
  
    .products .card .box .btn{
        font-size: 13px;
        color:#f63e4e;
        padding: 10px 18px;
        font-weight: 900;
       
        border-radius: 20px;
    }
   .products .card .box .btn:hover {
                      cursor: pointer;
                      background-color:#f63e4e ;
                      color:white;
    }

.productName,h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin-top: 50px;
     margin-left: 50px;
     font-size: 25px;

}
.productImage{
    width: 300px;
    height: 100px;
    margin-left: 100px;
}

    footer ,h3{
      font-size: 20px;
  text-align: center;
  color: white;
   
    }
   

    footer, p,  a{
           text-decoration: none;
           color: black;
           
    }
  
    .sizeOptions {
      width: 200;
      padding: 16px 20px;
      border: none;
      border-radius: 4px;
      background-color: #f1f1f1;
      margin-left: 5px;
    }
    .quantity{
      width: 200;
      padding: 16px 20px;
      border: none;
      border-radius: 4px;
      background-color: #f1f1f1;
      
    }
    .checkout{
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 10px;
       
          }
          .checkout , button{
        border: none;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
          }
          .checkout a{
       text-decoration: none;
      
          } 
          .checkoutTitle,h3,p{
         text-align: center;
         margin: 10px;
          }
       


    .desc a{
     text-decoration: none;
     
    }  



    